:root {
    --primary-color: blue;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

.carousel {
    display: flex;
    gap: 10rem;
    /* change gap to 15.25 or 15.5 */
}
