:root {
    --primary-color: 155, 15%, 40%, 100%;
    --secondary-color: 95, 12%, 51%, 100%;
    --accent-color: 203, 24%, 87%, 100%;
    --black-color: 155, 10%, 11%, 100%;
    --black-color-75: 155, 10%, 11%, 75%;
    --black-color-50: 155, 10%, 11%, 50%;
    --black-color-25: 155, 10%, 11%, 25%;

    --super-large-font-size: 11.089rem;
    --large-font-size: 6.854rem;
    --medium-font-size: 4.236rem;
    --medium-small-font-size: 2.618rem;
    --small-font-size: 1.618rem;
    --default-font-size: 1rem;

    --primary-font: 'Kode Mono', serif;
    --secondary-font: 'Roboto Mono', serif;
}

html {
    padding: 0;
    margin: 0;
}

body {
    background: hsl(var(--black-color));
    color: hsl(var(--accent-color));
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
}

h2 {
    font-family: var(--primary-font);
    font-size: var(--large-font-size);
}

h4 {
    font-family: var(--primary-font);
    font-size: var(--small-font-size);
}

p {
    font-family: var(--secondary-font);
    font-size: var(--default-font-size);
}

a {
    text-decoration: none;
    color: hsl(var(--accent-color));
}

@keyframes indicateScroll {
    to {
        bottom: 25px;
    }
}

.scroll-indicator {
    width: 1rem;
    height: 1rem;
    background: hsl(var(--accent-color));
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 2rem;
    bottom: 75px;
    animation-name: indicateScroll;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.pad-center {
    padding: 0 11rem;
}

#intro {
    height: 100vh;
}

#intro-span {
    color: hsl(var(--primary-color));
    border: none;
    width: fit-content;
    border-bottom: 3px solid hsl(var(--accent-color));
}

#tab {
    position: absolute;
    bottom: 0;
    padding: none;
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: fit-content;
    height: 21.625rem;
}

.tabs {
    font-size: var(--medium-small-font-size);
    width: fit-content;
    font-weight: 600;
    transition:
        250ms ease-in color,
        200ms ease-out opacity;
}

.tabs:hover {
    color: hsl(var(--secondary-color));
    opacity: 80;
}

.current-tab {
    color: hsl(var(--primary-color));
    font-size: var(--medium-font-size);
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.project-image {
    width: 31.875rem;
    height: 21rem;
    /* background: hsl(var(--accent-color)); */
    object-fit: cover;
}

.project-text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  */
/** TEXT STYLES */
/*  */

#language-carousel {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-top: 12rem;
    gap: 0.1rem;
}

.carousel {
    overflow-x: hidden;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 5rem;
    /* change gap to 15.25 or 15.5 */
    position: relative;
    overflow: hidden;
    height: 3rem;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}

.carousel-lang {
    margin: 0;
    font-size: var(--medium-small-font-size);
    font-weight: 700;
    white-space: nowrap;
    width: 15rem;
    text-align: center;
    height: 3rem;
    position: absolute;
}

@keyframes scrollLeft {
    to {
        left: -200px;
    }
}

.carousel-lang-rl {
    left: max(calc(240px * 9), 100%);
    animation-name: scrollLeft;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes scrollRight {
    to {
        right: -200px;
    }
}

.carousel-lang-lr {
    right: max(calc(240px * 9), 100%);
    animation-name: scrollRight;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.lang-1 {
    animation-delay: calc(50s / 9 * (9 - 1) * -1);
}
.lang-2 {
    animation-delay: calc(50s / 9 * (9 - 2) * -1);
}
.lang-3 {
    animation-delay: calc(50s / 9 * (9 - 3) * -1);
}
.lang-4 {
    animation-delay: calc(50s / 9 * (9 - 4) * -1);
}
.lang-5 {
    animation-delay: calc(50s / 9 * (9 - 5) * -1);
}
.lang-6 {
    animation-delay: calc(50s / 9 * (9 - 6) * -1);
}
.lang-7 {
    animation-delay: calc(50s / 9 * (9 - 7) * -1);
}
.lang-8 {
    animation-delay: calc(50s / 9 * (9 - 8) * -1);
}
.lang-9 {
    animation-delay: calc(50s / 9 * (9 - 9) * -1);
}

.tag-parent {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    border: 2px solid hsl(var(--primary-color));
    border-radius: 15px;
    height: 2.5rem;
    width: 10rem;
    justify-content: center;
    background: transparent;
    font-style: inherit;
    transition:
        300ms ease-in-out background,
        325ms ease-in-out color;
}

.tag:hover {
    background: hsl(var(--primary-color));
    color: hsl(var(--black-color));
}

.tag p {
    color: hsl(var(--accent-color));
    font-size: var(--small-font-size);
}

.tag-icon {
    height: 2rem;
    width: 2rem;
    border: none;
}

.about-globe {
    width: 39rem;
    height: 39rem;
    background: hsl(var(--secondary-color));
    border: none;
    border-radius: 50%;
}

.about-description {
    width: 29.6875rem;
    font-size: var(--small-font-size);
    font-weight: 200;
}

#about-me {
    margin-top: 12rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: row;
    align-items: cent;
    justify-content: center;
    gap: 6.5rem;
    position: relative;
    gap: 20%;
}
